{{ define "main" }}
  <article class="main">
    <header>
      <h1 class="!mb-1">Hey, I'm Marius! 👋</h1>
    </header>
    <div>This blog is my little corner of the internet where I dive into the ever-evolving world of artificial intelligence and share the curious, thought-provoking things I stumble upon along the way.</div>
  </article>

  {{- if default true site.Params.home.showRecentPosts }}
    {{- $posts := where site.RegularPages "Section" "posts" -}}
    {{- with $posts.Limit (int (default 3 site.Params.home.recentPostsLimit)) }}
      <section>
        <h2>Recent posts</h2>

        {{ partial "posts/list.html" . }}
      </section>
    {{ end -}}
  {{ end -}}

  {{- if default true site.Params.home.showRecentNotes }}
    {{- $notes := where site.RegularPages "Section" "notes" -}}
    {{- with $notes.Limit (int (default 5 site.Params.home.recentNotesLimit)) }}
      <section>
        <h2>Recent notes</h2>

        {{ partial "notes/list.html" . }}
      </section>
    {{ end -}}
  {{ end -}}
{{ end }}
